/*!
 * jQuery cookiePlus Plugin
 * https://github.com/herojenkins/cookieplus
 * https://gametastic.eu/cookiePlus
 *
 * Copyright 2015, HeroJenkins
 */
 
.cookiePBar {
  position:fixed;
  top:0;left:0;right:0;
  padding:20 120px 20 30px;
  background:#fff;
  border-bottom:1px solid #ccc;
  box-shadow:0px 0px 3px #ccc;
  z-index: 99;

  
}
.cookiePBar p{
  color:#333;
  font:bold 13px/18px Arial;
  margin:0.6em 0;
  padding-left: 30%;
}

.cookiePBtn {
  position:absolute;
  top:0; *top:-2px; right:20px;
  cursor:pointer;
  font:bold 11px/18px Arial;

  border: none;
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-right: 10%;
  border-radius: 10px;
}

/*********************************************
************** Button Styles *****************
*********************************************/

.cpbtn-default{
    background: #EBD356;
    color:#5D7282;
}
.cookiePBtn:hover{
  background: #CCB71B;
}

.cpbtn-yellow{
  background: #27B36B;
  color:#fff;
}
.cpbtn-yellow:hover{
  background: #17693F;
}
/*********************************************
****************** Styles ********************
*********************************************/

.cpblue {
  border-bottom:1px solid #0E83AE;
  background-color:#0990c3;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0e83ae), color-stop(50%, #0990c3), color-stop(100%, #0e9dd2));
  background: -webkit-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
  background: -moz-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
  background: -o-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
  background: -ms-linear-gradient(#0e83ae, #0990c3, #0e9dd2);
  background: linear-gradient(#0e83ae, #0990c3, #0e9dd2);
}
.cpblue p { 
  color:#fff;
}
.cpblue a{
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.cpyellow {
  border-bottom:1px solid #E0CA43;
  background-color:#F7DE4A;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #E0CA43), color-stop(50%, #F7DE4A), color-stop(100%, #FFE54C));
  background: -webkit-linear-gradient(#E0CA43, #F7DE4A, #FFE54C);
  background: -moz-linear-gradient(#E0CA43, #F7DE4A, #FFE54C);
  background: -o-linear-gradient(#E0CA43, #F7DE4A, #FFE54C);
  background: -ms-linear-gradient(#E0CA43, #F7DE4A, #FFE54C);
  background: linear-gradient(#E0CA43, #F7DE4A, #FFE54C);
}
.cpyellow p { 
  color:#333333;
}
.cpyellow a{
  font-weight: bold;
  color: #333333;
}
